body{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.outer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 100%;
    height: 35%;
}

.ball {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset -0.6em -0.6em 1em #5d6066, 
            inset 0.4em 0.4em 0.5em #eff3ff;
    left: -30%;
    top: 0;
    animation: animate 3s linear infinite, squish 3s linear infinite;
}

.ball:nth-child(2) {
    animation-delay: 0.04s;
    background-color: #fff;
    opacity: 0.2;
}

.ball:nth-child(3) {
    animation-delay: 0.08s;
    background-color: #fff;
    opacity: 0.1;
}

@keyframes animate {
    16%, 48%, 82% {
        top: 300px;
        animation-timing-function: ease-out;
    }
    32% {
        top: 50px;
        animation-timing-function: ease-in;
    }
    62% {
        top: 150px;
        animation-timing-function: ease-in;
    }
    90% {
        top: 200px;
        animation-timing-function: ease-in;
    }

    100% {
        top: 270px;
        left: 100%;
        animation-timing-function: ease-out;
        transform: rotate(360deg);
    }
}

@keyframes squish {
    16%, 48%, 78%{
        height: 25px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.5);
    }
    15%, 47%, 77%, 18%, 50%, 80% {
        height: 30px;
        border-radius: 50%;
        transform: scaleX(1);
    }
}